@import 'variables';

// Adding/Overriding existing CSS
.pFontW600 {
  font-weight: 600 !important;
}
.pMLAuto {
  margin-left: auto !important;
}
.pTextCenter {
  text-align: center !important;
}
.pMainContainer {
  height: calc(100vh - 113px);
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: unset;
  overflow: auto;
  .searchBox {
    min-height: calc(100vh - 155px);
  }
  &--login {
    background-color: #e6e6e6;
    h1 {
      margin-top: 5rem;
      @include desktop {
        margin-top: 1rem;
      }
    }
    .login {
      .MuiFormControl-root,
      .MuiButton-containedSizeLarge,
      .MuiButton-textSizeLarge {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
    @media (max-width: 600px) {
      height: calc(100vh - 104px);
    }
  }
}
.drpDwn {
  justify-content: flex-end;
  margin-left: auto;
  @include phone-landscape {
    width: 100%;
  }
  .MuiFormControl-root {
    width: auto !important;
    max-width: 500px;
    @include phone-landscape {
      width: 98% !important;
      max-width: 98%;
    }
  }
  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }
  @include phone-landscape {
    width: 98%;;
  }
  &-responsive {
    @include phone {
      flex-direction: column;
      align-items: center;
    }
  }
}
.MuiToolbar-root {
  .MuiTypography-subtitle1 {
    color: blueviolet;
    font-weight: 600;
    font-size: 1.2rem;
    @include desktop {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  @include phone-landscape {
    flex-wrap: wrap;
    padding-right: 16px !important;
  }
}
.totals {
  // border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
  padding-top: 15px;
  @include phone-landscape {
    flex-direction: column;
  }
  &__item {
    font-weight: 600;
    display: flex;
    align-items: center;
    span {
      border-radius: 5px;
      border: 1px solid #f50057;
      margin-left: 8px;
      font-weight: normal;
      height: 42px;
      min-width: 42px;
      padding: 0 5px;
      line-height: 40px;
      text-align: center;
      @include phone-landscape {
        margin-left: auto;
      }
    }
    @include phone-landscape {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      margin: 5px 0;
    }
  }
}

// Searchbar
.pSearchbar {
  width: 225px;
  .MuiFormControl-root {
    width: auto !important;
    @include desktop {
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-top: 0 !important;
    }
    @include phone-landscape {
      width: 100% !important;
    }
  }
  @include phone-landscape {
    width: 100%;
  }
}

// Download Options
.pDownloads {
  @include phone-landscape {
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  .MuiButtonBase-root {
    white-space: nowrap;
    @include desktop {
      margin-bottom: 15px;
    }
    @include phone-landscape {
      width: 100%;
    }
  }
  &__wrap {
    @include desktop {
      flex-wrap: wrap;
      justify-content: flex-start !important;
    }
    > * {
      @include phone-landscape { 
        flex: 0 0 100%;
        margin-left: 0 !important;
      }
    }
  }
}

// Date Filter
.pDateFilter {
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    justify-content: center;
  }
  .MuiFormControl-root {
    width: auto !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    @include tablet {
      width: 45% !important;
      margin-top: 15px !important;
    }
    @include phone-landscape {
      width: 100% !important;
      max-height: 100% !important;
    }
  }
  .MuiButton-contained {
    margin-top: 0 !important;
  }
  &__item {
    display: flex;
    align-items: center;
    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

// Filter Panel
.pFilterPanel {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include desktop {
    flex-wrap: wrap;
  }
  @include tablet {
    justify-content: center;
  }
}

.pBtn {
  &--navToggle {
    color: #ffffff !important;
  }
  &--upload {
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  &--addNewItem {
    .MuiIconButton-label {
      font-size: 0;
    }
    @include desktop {
      position: absolute !important;
      top: 0;
      right: 0;
    }
  }
  &--item {
    margin-top: 0 !important;
  }
  &--deleteRow {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    @include desktop {
      top: 0;
      right: 0;
    }
  }
}

// Modal
.pModal {
  border: none;
  padding: 0;
  width: calc(100% - 40px);
  max-width: 700px;
  &__header {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
    h2 {
      margin: 0;
      font-weight: 600;
    }
  }
  &__body {
    padding: 20px;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    .MuiFormControl-root {
      width: 100% !important;
      margin: 10px 0 !important;
    }
  }
  .profileSubmitBtn {
    border-top: 1px solid #e0e0e0;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 20px;
    justify-content: flex-end;
    padding: 0 20px;
  }
}

// Row & Columns
.pRow {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  &--align {
    align-items: center;
  }
}

.pCol {
  padding-left: 15px;
  padding-right: 15px;
  &--col4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  &--col6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  &--col12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  @include tablet {
    &--col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

// Profile Status
.pProfileStatus {
  // border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px;
  display: flex;
  &__item {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  @include tablet {
    justify-content: center;
  }
  @include phone-landscape {
    flex-wrap: wrap;
  }
}

.searchButtonBar {
  @include desktop {
    flex-wrap: wrap;
    width: 100%;
  }
}
.pMainToolbar {
  @include desktop {
    flex-direction: column;
    align-items: stretch !important;
  }
}

.pFormControlCustom {
  .MuiFormLabel-root {
    transform: translate(14px, 20px) scale(1);
    &.Mui-focused,
    &.MuiInputLabel-shrink {
      transform: translate(14px, -6px) scale(0.75);
    }
  }
}
.pForgotPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.pTable {
  .MuiTableRow-head {
    display: table-row !important;
  }
  .MuiTableCell-body {
    .toolHead {
      width: 90px;
      max-width: 90px;
      margin-left: auto;
    }
  }
  &.oneCellAdded {
    .MuiTableBody-root {
      .MuiTableRow-root {
        .MuiTableCell-body {
          &:nth-child(2) {
            width: auto;
          }
        }
      }
    }
  }
}

.gridview-option {
  display: flex;
  width: 100%;
  &-name {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% - 48px);
    max-width: calc(100% - 48px);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
  }
  &-delete {
    margin-left: auto;
  }
}

.dashedline {
  border: none;
  border-top: 2px dashed #e0e0e0;
}

.dashboard-page {
  padding-bottom: 50px;
}

.pSelectionPanel {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;

  &__item {
    flex: 0 0 25%;
    max-width: 25%;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    @include desktop {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
    @include tablet {
      flex: 0 0 50%;
      max-width: 50%;
    }
    @include phone-landscape {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .MuiFormControl-root {
      width: 100% !important;
    }
  }

  .pRow {
    max-width: 1230px;
    @include desktop {
      max-width: unset;
    }
  }
}

.pDashboardRow {
  padding-left: 30px;
  padding-right: 30px;

  & + & {
    padding-top: 15px;

    .pDashboardRow__header {
      border-top: 2px dashed #e0e0e0;
    }
  }
  
  &__header {
    font-size: 16px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  &__stack {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    @include desktop-xl {
      margin-left: -15px;
      margin-right: -15px;
    }

    &Item {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-left: 20px;
      padding-right: 20px;
      @include desktop-xl {
        padding-left: 15px;
        padding-right: 15px;
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
      @include desktop {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @include phone-landscape {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    &Price {
      min-width: 100px;
      text-align: right;
      justify-content: flex-end !important;
      margin-left: 10px;
    }

    &Title {
      margin-right: auto !important;
      flex: 1 1 0;
      padding-right: 10px;
      color: #757575;
    }
  }
}